html {
  position: relative;
  min-height:100%;
}

body {
  margin: 20px;
}

label {
  display: block;
}

.staff {
  margin-top: 20px;
}

#go-button {
  font-size: 150%;
  padding: 10px 20px;
  margin: 20px;
  margin-left: 3px;
}

#back-button {
  font-size: 150%;
  padding: 10px 20px;
  margin: 20px;
  margin-left: 3px;
}

#scale-description {
  font-size: 200%;
  padding: 10px 10px;
  margin: 20px;
  margin-left: 3px;
}

div.header {
  display: flex;
}

footer {
  padding:1.2rem 0;
  font-size:0.9rem;
  color:#93a1a1;
  bottom:0;
  position:absolute;
  width: 90%;
  height: 20px;
}

footer a {
    color:#657b83;
}

div.complexity-slider {
  display: flex;
}

div.checkboxen#mains-and-modes {
  column-count: 2;
  width: 25em;
  white-space: nowrap;
}

div.checkboxen#others {
  column-count: 1;
  width: 50em;
  white-space: nowrap;
}
